* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Orbitron', Arial, sans-serif;
  display: flex;
  justify-content: center;
  /* background-color: black; */
}

h1 {
  margin-bottom: -5px;
  font-size: 24px;
}

h3 {
  width: 70px;
}

#container {
  width: 800px;
  height: 650px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 4px solid black; */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border-bottom:10px solid #757575;
  border-right: 10px solid #757575;
  border-left: 10px solid #ebeaeb;
  border-top: 10px solid #fdfcfd;
  box-shadow: rgba(0, 0, 0, 0.46) 0px 22px 70px 4px;
}

#scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top:10px solid #757575;
  border-left: 10px solid #757575;
  border-right: 10px solid #ebeaeb;
  border-bottom: 10px solid #deddde;;
}

.beginner-scoreboard, .intermediate-scoreboard {
  width: 400px;
}

.expert-scoreboard {
  width: 750px;
}

#scoreboard button{
  height: 35px;
  width: 35px;
  /* background-image: url('../assets/smiley-face.png');
  background-repeat: no-repeat;
  background-size: contain; */
  cursor: pointer;
  border: none;
  border-bottom:4px solid #757575;
  border-right: 4px solid #757575;
  border-left: 4px solid #fdfcfd;
  border-top: 4px solid #fdfcfd;
}

#mines-remaining, #timer {
  color: red;
  background-color: black;
  border-bottom:2px solid #757575;
  border-right: 2px solid #757575;
  border-left: 2px solid #fdfcfd;
  border-top: 2px solid #fdfcfd;
}

.not-won {
  background-image: url('../assets/favicon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f3f3f3;
}

.won-game {
  background-image: url('../assets/sunglasses-face-2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#grid {
  display: flex;
  align-items: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border-top: 2px solid black; */
  height: 400px;
}

.beginner-grid, .intermediate-grid {
  width: 400px;
}

.expert-grid {
  width: 750px;
}

.beginner-grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: calc(100%/8);
  width: calc(100%/8);
}

.intermediate-grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: calc(100%/16);
  width: calc(100%/16);
}

.expert-grid div {
  border: 1px solid lightgrey;

  flex-grow: 1;
  height: calc(100%/16);
  width: calc(100%/30);
}

.levels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.levels button {
  font-family: 'Orbitron', Arial, sans-serif;
  color: black;
  background-color: f3f3f3;
  width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border-bottom:6px solid #757575;
  border-right: 6px solid #757575;
  border-left: 6px solid #ebeaeb;
  border-top: 6px solid #fdfcfd;
  box-shadow: rgba(0, 0, 0, 0.46) 0px 22px 70px 4px;
}


.levels .level-selected{
  color: white;
  background-color: blue;
}



/* Revealing squares */
.unopened, .unopened-inactive {
  background-image: url('../assets/square-unopened.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.unopened:active {
  background-image: url('../assets/number-0.png');
  background: #a5a5a5;
}

.flagged {
  /* background-image: url('../assets/flagged.png'); */
  background: url('https://media.giphy.com/media/A0ux0hPiV7PTpEu58t/giphy.gif'), url('../assets/flagged.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.flag-incorrect {
  background-image: url('../assets/flag-incorrect.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.mine-unopened {
  /* background-image: url('../assets/mine-unopened.png'); */
  background: url('https://media.giphy.com/media/fX2oud7WOkCyO6jtyv/giphy-downsized-large.gif'), url('../assets/mine-unopened.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: red;
}

.number-0 {
  background-image: url('../assets/number-0.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.number-1 {
  background-image: url('../assets/number-1.png');
  background-repeat: no-repeat;
  background-size: contain;  
}

.number-2 {
  background-image: url('../assets/number-2.png');
  background-repeat: no-repeat;
  background-size: contain;  
}

.number-3 {
  background-image: url('../assets/number-3.png');
  background-repeat: no-repeat;
  background-size: contain;  
}

.number-4 {
  background-image: url('../assets/number-4.png');
  background-repeat: no-repeat;
  background-size: contain;  
}

.number-5 {
  background-image: url('../assets/number-5.png');
  background-repeat: no-repeat;
  background-size: contain;  
}

.number-6 {
  background-image: url('../assets/number-6.png');
  background-repeat: no-repeat;
  background-size: contain;  
}

.number-7 {
  background-image: url('../assets/number-7.png');
  background-repeat: no-repeat;
  background-size: contain;  
}

.number-8 {
  background-image: url('../assets/number-8.png');
  background-repeat: no-repeat;
  background-size: contain;  
}